<ion-content>

<!-- Animated Searchbar -->
<ion-searchbar animated></ion-searchbar>

<!-- Cities list -->
<ion-list>
  <ion-list-header>
    Available quests
  </ion-list-header>

<ion-item-group>
  <ion-item-divider>
    <ion-label>Spain</ion-label>
  </ion-item-divider>

  <ion-item button="true" (click)="viewQuests(1)">
    <ion-label>Arucas</ion-label>
  </ion-item>
  <ion-item button="true" (click)="viewQuests(2)">
    <ion-label>Las Palmas de Gran Canaria</ion-label>
  </ion-item>
  <ion-item button="true" (click)="viewQuests(3)">
    <ion-label>Telde</ion-label>
  </ion-item>
</ion-item-group>

</ion-list>






</ion-content>
