<ion-content>

  <ion-list>
    <ion-list-header>
      Statistics
    </ion-list-header>

  <ion-item lines="full">
    <ion-icon slot="start" name="trophy"></ion-icon>
    <ion-label>Completed</ion-label>
    <ion-badge color="success" slot="end">1</ion-badge>
  </ion-item>

  <ion-item lines="full">
    <ion-icon slot="start" name="time"></ion-icon>
    <ion-label>Uncompleted</ion-label>
    <ion-badge color="danger" slot="end">1</ion-badge>
  </ion-item>

  <ion-item lines="full">
    <ion-icon slot="start" name="bed"></ion-icon>
    <ion-label>Not yet started</ion-label>
    <ion-badge color="medium" slot="end">1</ion-badge>
  </ion-item>

  </ion-list>


  <img src="../../assets/imgs/background-about.png" />

  <div class="ion-padding">
    <ion-item lines="none">
      <p class="about-info">This app is developed for educational purposes. 
        If you have any questions, please don't hesitate to contact:</p>
    </ion-item>
      <ion-item lines="none" button="true" href="mailto:tourquestapp@ieselrincon.org">
        <ion-icon color="medium" slot="start" name="mail"></ion-icon>
        <ion-label class="about-info-list" color="medium">Email</ion-label>
      </ion-item>
      <ion-item lines="none" button="true" href="https://fb.me/TourQuestApp" target="_blank">
        <ion-icon color="medium" slot="start" name="logo-facebook"></ion-icon>
        <ion-label class="about-info-list" color="medium">Facebook</ion-label>
      </ion-item>
      <ion-item lines="none" button="true" href="https://twitter.com/TourQuestApp" target="_blank">
        <ion-icon color="medium" slot="start" name="logo-twitter"></ion-icon>
        <ion-label class="about-info-list" color="medium">Twitter</ion-label>
      </ion-item>
      <ion-item lines="none" button="true" href="https://instagram.com/TourQuestApp" target="_blank">
        <ion-icon color="medium" slot="start" name="logo-instagram"></ion-icon>
        <ion-label class="about-info-list" color="medium">Instagram</ion-label>
      </ion-item>
    </div>
      

</ion-content>
