@font-face {
    font-family: 'Caveat';
    src: url('../assets/fonts/Caveat-Regular.ttf');
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Dekko';
    src: url('../assets/fonts/Dekko-Regular.ttf');
    font-style: normal;
  }